* {
    margin: 0;
    padding: 0;
}

.grupo{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    background-color: #701010
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: #701010
    text-decoration: none;
    margin-left: 15px;
}
.menu a:hover{
    color: #701010;
}
.navegacao{
    background-color: hsla(0, 84%, 46%, 0);
    display: inline-block;
    width: 30%;
    padding: 10px;
}
.secao{
    background-color: #701010
    
}
.rodape{
    background-color: #701010
}